<header id="site_header" class="header">
    <div class="my-photo">
      <img src="images/my_photo.jpg" alt="image">
      <div class="mask"></div>
    </div>

    <div class="site-title-block">
      <h1 class="site-title">Chrisostom kaweza</h1>
      <p class="site-description">Mobile Developer</p>
    </div>

    <a class="menu-toggle mobile-visible">
      <i class="fa fa-bars"></i>
    </a>
  </header>