<div id="page" class="page">
  <div id="main" class="site-main">

<div class="pt-wrapper">
  <div class="site-nav mobile-menu-hide">

    <ul id="nav" class="site-main-menu">

      <li>
        <a class="pt-trigger" href="#about_me" data-animation="58" data-goto="1">About me</a>
        <!-- href value = data-id without # of .pt-page -->
      </li>
      <li>
        <a class="pt-trigger" href="#portfolio" data-animation="60" data-goto="3">Portfolio</a>
      </li>
      <li>
        <a class="pt-trigger" href="#resume" data-animation="59" data-goto="2">Resume</a>
      </li>
      <li>
        <a class="pt-trigger" href="#blog" data-animation="61" data-goto="4">Blog</a>
      </li>
      <li>
        <a class="pt-trigger" href="#contact" data-animation="58" data-goto="5">Contact</a>
      </li>
    </ul>

    <ul class="social-links">
      <li><a class="tip social-button" href="https://twitter.com/chrisostom_emma" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
      <li><a class="tip social-button" href="https://www.linkedin.com/in/chisostom-kaweza/" title="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a></li>

    </ul>

  </div>

  <div class="subpages">
    <!-- About Me Subpage -->
    <section class="pt-page pt-page-1" data-id="about_me">
      <div class="section-title-block">
        <h2 class="section-title">About Me</h2>
        <h5 class="section-description">Team player</h5>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-12 mobile-visible subpage-block">
          <div class="my-photo-small">
            <img src="images/photo_small.jpg" alt="image">
          </div>
        </div>
        <div class="col-sm-6 col-md-6 subpage-block">
          <div class="general-info">
            <h3 style="font-size: 25px;">Hi, I'm Kaweza </h3>
            <p class="about_text">I assist bussiness build morden design,cross-platform and cost effect mobile applications
              in a resonable short time.</p>
            <p style="font-size:16px;font-weight:bold;">lets chart and get the job done :)</p>
          </div>
        </div>

        <div class="block end">
          <ul class="info-list">
            <div class="col-sm-6 col-md-6 subpage-block">
              <div class="block-title">
                <h3>Testimonials</h3>
              </div>
              <div class="testimonials owl-carousel">


                <div class="testimonial-item">
                  <!-- Testimonial Content -->
                  <div class="testimonial-content">
                    <div class="testimonial-text">
                      <p>"The guy always deliver the project on time."</p>
                    </div>
                  </div>
                  <!-- /Testimonial Content -->
                  <!-- Testimonial Author -->
                  <div class="testimonial-credits">
                    <!-- Picture -->
                    <div class="testimonial-picture">
                      <img src="images/testimonials/testimonial_photo_1.png" alt="">
                    </div>
                    <!-- /Picture -->
                    <!-- Testimonial author information -->
                    <div class="testimonial-author-info">
                      <p class="testimonial-author">David christopher</p>
                      <p class="testimonial-firm">Afyasol.</p>
                    </div>
                  </div>
                  <!-- /Testimonial author information -->
                </div>
                <!-- End of Testimonial 1 -->

                <!-- Testimonial 2 -->
                <div class="testimonial-item">
                  <!-- Testimonial Content -->
                  <div class="testimonial-content">
                    <div class="testimonial-text">
                      <p>"The thing I like about kaweza, is how takes his time to design the mockups before development"</p>
                    </div>
                  </div>
                  <!-- /Testimonial Content -->
                  <!-- Testimonial Author -->
                  <div class="testimonial-credits">
                    <!-- Picture -->
                    <div class="testimonial-picture">
                      <img src="images/testimonials/testimonila_photo_2.png" alt="">
                    </div>
                    <!-- /Picture -->
                    <!-- Testimonial author information -->
                    <div class="testimonial-author-info">
                      <p class="testimonial-author">Hamisi Mkongo</p>
                      <p class="testimonial-firm">Andolve</p>
                    </div>
                  </div>
                  <!-- /Testimonial author information -->
                </div>
                <!-- End of Testimonial 2 -->
              </div>
            </div>
        </div>

        <div class="block-title">
          <h3>Services</h3>
        </div>

        <div class="row">
          <div class="col-sm-6 col-md-3 subpage-block">
            <div class="service-block"> 
              <div class="service-info">
                <img src="images/service/web_design.png" alt="Responsive Design">
                <h4>Android development</h4>
                <p>Design,build, test android applications and deploy in playstore</p>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-3 subpage-block">
            <div class="service-block"> 
              <div class="service-info">
                <img src="images/service/copywrite.png" alt="Ios developer">
                <h4>Ios development</h4>
                <p>Design,build native looking componets and lunch the app in app store</p>
              </div>
            </div>
          </div>

        

          <div class="col-sm-6 col-md-3 subpage-block">
            <div class="service-block"> 
              <div class="service-info">
                <img src="images/service/management.png" alt="Management">
                <h4>Copywriter</h4>
                <p>I write sales driven blog posts to companies  about react, react native, ios, android and ecommerce(Mobile development).</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 subpage-block">
            <div class="service-block"> 
              <div class="service-info">
                <img src="images/service/ecommerce.png" alt="E-Commerce">
                <h4>E-Commerce</h4>
                <p>E-commerse is the new way to do bussiness.</p>
              </div>
            </div>
          </div>
        </div>
    </section>
    <!-- End of About Me Subpage -->

    <!-- Resume Subpage -->
    <section class="pt-page pt-page-2" data-id="resume">
      <div class="section-title-block">
        <h2 class="section-title">Resume</h2>
        <h5 class="section-description">2+ Years of Experience</h5>
      </div>

      <div class="row">
        <div class="col-sm-6 col-md-8 subpage-block">
          <div class="block-title">
            <h3>Experience</h3>
          </div>
          <div class="timeline">
            <!-- Single event -->
            <div class="timeline-event te-primary">
              <h5 class="event-date">Dec 2020 - Current</h5>
              <h4 class="event-name">Moble developer(React native)</h4>
              <span class="event-description">Freelancer</span>
              <p>Developing both android and ios mobile applications that meets market standard</p>
            </div>
            <!-- Single event -->
            <div class="timeline-event te-primary">
              <h5 class="event-date">March 2020 - Nov 2021</h5>
              <h4 class="event-name">Software developer</h4>
              <span class="event-description">Powercomputers Telecommunications Limited </span>
              <p>Developed clients web based apps and company internal web applications</p>
            </div>
            <!-- Single event -->
            <div class="timeline-event te-primary">
              <h5 class="event-date">Jul 2019 - Mar 2020</h5>
              <h4 class="event-name">Web developer</h4>
              <span class="event-description">Vipaji inc</span>
              <p>Developed company internal web based applications.</p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-4 subpage-block">
          <div class="block-title">
            <h3>Design Skills</h3>
          </div>
          <div class="skills-info">
            <h4>Adobe Xd</h4>
            <div class="skill-container">
              <div class="skill-percentage skill-1"></div>
            </div>

          </div>

          <div class="block-title">
            <h3>Coding Skills</h3>
          </div>
          <div class="skills-info">
            <h4>React js</h4>
            <div class="skill-container">
              <div class="skill-percentage skill-4"></div>
            </div>

            <h4>React native</h4>
            <div class="skill-container">
              <div class="skill-percentage skill-5"></div>
            </div>

            <h4>Redux</h4>
            <div class="skill-container">
              <div class="skill-percentage skill-6"></div>
            </div>

            <h4>Javascript</h4>
            <div class="skill-container">
              <div class="skill-percentage skill-1"></div>
            </div>

            <h4>Git</h4>
            <div class="skill-container">
              <div class="skill-percentage skill-8"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <section class="pt-page pt-page-3" data-id="portfolio">
      <div class="section-title-block">
        <h2 class="section-title">Portfolio</h2>
        <h5 class="section-description">My Best Works</h5>
      </div>


      <div class="portfolio-content">
        <ul id="portfolio_filters" class="portfolio-filters">
          <li class="active">
            <a class="filter btn btn-sm btn-link active" data-group="all">All</a>
          </li>
          <li>
            <a class="filter btn btn-sm btn-link" data-group="media">Mobile apps</a>
          </li>
          <li>
            <a class="filter btn btn-sm btn-link" data-group="video">E-Commerce</a>
          </li>
        </ul>
        <div id="portfolio_grid" class="portfolio-grid portfolio-masonry masonry-grid-3">

          <figure class="item" data-groups='["all", "media"]'>
            <a class="ajax-page-load" href="projects">
              <img src="images/portfolio/1.jpg" alt="">
              <div>
                <h5 class="name">Project Name</h5>
                <small>Media</small>
                <i class="fa fa-file-text-o"></i>
              </div>
            </a>
          </figure>
        </div>
      </div>

    </section>
  
    <section class="pt-page pt-page-4" data-id="blog">
      <div class="section-title-block">
        <h2 class="section-title">Blog</h2>
        <h5 class="section-description">Posts</h5>
      </div>
      <div class="blog-masonry">
        <div class="item">
          <div class="blog-card">
            <div class="media-block">
              <a href="/details">
                <img class="post-image img-responsive" src="images/blog/blog_post_1.jpg" alt="blog-post-1" />
                <div class="mask"></div>
                <div class="post-date"><span class="day">6</span><span class="month">Dec</span>
                </div>
              </a>
            </div>
            <div class="post-info">
              <ul class="category">
                <li><a href="#">Travel</a></li>
              </ul>
              <a href="/details">
                <h4 class="blog-item-title">Bootstrap is the Most Popular Framework</h4>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="pt-page pt-page-5" data-id="contact">
      <div class="section-title-block">
        <h2 class="section-title">Contact</h2>
        <h5 class="section-description">Get in Touch</h5>
      </div>

      <div class="row">
        <div class="col-sm-6 col-md-6 subpage-block">
          <div class="block-title">
            <h3>Get in Touch</h3>
          </div>
          <p>Got a project want to hire a solo freelancer? OR you want a mobile developer to join your team for an
            existing project?. <br /><b>Please contact me and work on it.</b></p>
          <div class="contact-info-block">
            <div class="ci-icon">
              <i class="pe-7s-icon pe-7s-map-marker"></i>
            </div>
            <div class="ci-text">
              <h5>Dar es salaam,TANZANIA</h5>
            </div>
          </div>
          <div class="contact-info-block">
            <div class="ci-icon">
              <i class="pe-7s-icon pe-7s-mail"></i>
            </div>
            <div class="ci-text">
              <h5><a href="" class="__cf_email__"
                  >me@kaweza.com</a></h5>
            </div>
          </div>
          <div class="contact-info-block">
            <div class="ci-icon">
              <i class="pe-7s-icon pe-7s-call"></i>
            </div>
            <div class="ci-text">
              <h5>+255 672137313</h5>
            </div>
          </div>
          <div class="contact-info-block">
            <div class="ci-icon">
              <i class="pe-7s-icon pe-7s-check"></i>
            </div>
            <div class="ci-text">
              <h5>Freelance Available</h5>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-6 subpage-block">
          <div class="block-title">
            <h3>Contact Form</h3>
          </div>
          <form id="contact-form" method="post" action="">

            <div class="messages"></div>

            <div class="controls">
              <div class="form-group">
                <input id="form_name" type="text" name="name" class="form-control" placeholder="Full Name"
                  required="required" data-error="Name is required.">
                <div class="form-control-border"></div>
                <i class="form-control-icon fa fa-user"></i>
                <div class="help-block with-errors"></div>
              </div>

              <div class="form-group">
                <input id="form_email" type="email" name="email" class="form-control" placeholder="Email Address"
                  required="required" data-error="Valid email is required.">
                <div class="form-control-border"></div>
                <i class="form-control-icon fa fa-envelope"></i>
                <div class="help-block with-errors"></div>
              </div>

              <div class="form-group">
                <textarea id="form_message" name="message" class="form-control" placeholder="Message for me" rows="4"
                  required="required" data-error="Please, leave me a message."></textarea>
                <div class="form-control-border"></div>
                <i class="form-control-icon fa fa-comment"></i>
                <div class="help-block with-errors"></div>
              </div>

              <div class="g-recaptcha" data-sitekey="6LdqmCAUAAAAAMMNEZvn6g4W5e0or2sZmAVpxVqI"
                data-callback="correctCaptcha"></div>

              <input type="submit" class="button btn-send" value="Send message">
            </div>
          </form>
        </div>
      </div>
    </section>

  </div>
</div>
</div>
</div>